.container-destination {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  align-content: space-evenly;
  width: 90%;
  margin: 0 auto 2rem;
}

.heading-destination-xs {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 6rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  font-weight: 100;
}

.heading-destination-xs span {
  opacity: 0.5;
  font-weight: 400;
}

@media (min-width: 700px) {
  .h2-destination {
    justify-self: start;
  }
}
